<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.0.0+develop" package="com.kriscraig.berned" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Bern_Ed.Android" android:icon="@drawable/berned"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>